<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">


    <link
    href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    rel="stylesheet"
    />
    <!-- Google Fonts -->
    <link
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
    rel="stylesheet"
    />
    <!-- MDB -->
    <link
    href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/1.0.0/mdb.min.css"
    rel="stylesheet"
    />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
    
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <title>Products</title>
</head>
<body>
    <header>
        <nav class='navbar navbar-dark bg-dark' >
            <button class='btn btn-light' onclick="openDrawer()"><i class="fas fa-bars"></i></button>
            <span style="margin: auto;color: white;" >PRODUCTS</span>
            <button class='btn btn-light' onclick="openDrawer()" ><i class="fas fa-bars"></i></button>
        </nav>
    </header>

    <div class="drawer-modal">
        <div class="drawer">
            <h3 class="company-logo">COMPANY LOGO</h3>
            <hr>
            <ul class="drawer-ul">
                <li id="dashboard">
                    Dashboard
                    <i class="fas fa-chevron-up" style="margin-left: 100px;"></i>
                    <ul id="dashboardSub">
                        <li><a href="/dashboard/customers">Customers</li></a>
                        <li><a href="/dashboard/products">Products</li></a>
                    </ul>
                </li>
            </ul>
            <hr>
        </div>
    </div>

    </a>
<div class="table-div z-depth-2">
    <table class="table table-striped">
        <thead class="table-dark ">
            <tr>
                <th class="sticky-top">DATE REGISTERED</th>
                <th class="sticky-top">CATEGORY</th>
                <th class="sticky-top">BRAND</th>
                <th class="sticky-top">NAME</th>
                <th class="sticky-top">PRICE</th>
                <th class="sticky-top">NO. OF ITEMS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Jan 1,1900</td>
                <td>School Supplies</td>
                <td>Monggol</td>
                <td>Pencil</td>
                <td>8.50</td>
                <td>100 pcs</td>
            </tr>
            <tr>
                <td>Jan 1,1900</td>
                <td>School Supplies</td>
                <td>Monggol</td>
                <td>Pencil</td>
                <td>8.50</td>
                <td>100 pcs</td>
            </tr>
            <tr>
                <td>Jan 1,1900</td>
                <td>School Supplies</td>
                <td>Monggol</td>
                <td>Pencil</td>
                <td>8.50</td>
                <td>100 pcs</td>
            </tr>
            <tr>
                <td>Jan 1,1900</td>
                <td>School Supplies</td>
                <td>Monggol</td>
                <td>Pencil</td>
                <td>8.50</td>
                <td>100 pcs</td>
            </tr>
            <tr>
                <td>Jan 1,1900</td>
                <td>School Supplies</td>
                <td>Monggol</td>
                <td>Pencil</td>
                <td>8.50</td>
                <td>100 pcs</td>
            </tr>
            <tr>
                <td>Jan 1,1900</td>
                <td>School Supplies</td>
                <td>Monggol</td>
                <td>Pencil</td>
                <td>8.50</td>
                <td>100 pcs</td>
            </tr>
            <tr>
                <td>Jan 1,1900</td>
                <td>School Supplies</td>
                <td>Monggol</td>
                <td>Pencil</td>
                <td>8.50</td>
                <td>100 pcs</td>
            </tr>
            <tr>
                <td>Jan 1,1900</td>
                <td>School Supplies</td>
                <td>Monggol</td>
                <td>Pencil</td>
                <td>8.50</td>
                <td>100 pcs</td>
            </tr>
            <tr>
                <td>Jan 1,1900</td>
                <td>School Supplies</td>
                <td>Monggol</td>
                <td>Pencil</td>
                <td>8.50</td>
                <td>100 pcs</td>
            </tr>
            <tr>
                <td>Jan 1,1900</td>
                <td>School Supplies</td>
                <td>Monggol</td>
                <td>Pencil</td>
                <td>8.50</td>
                <td>100 pcs</td>
            </tr>
            <tr>
                <td>Jan 1,1900</td>
                <td>School Supplies</td>
                <td>Monggol</td>
                <td>Pencil</td>
                <td>8.50</td>
                <td>100 pcs</td>
            </tr>
            <tr>
                <td>Jan 1,1900</td>
                <td>School Supplies</td>
                <td>Monggol</td>
                <td>Pencil</td>
                <td>8.50</td>
                <td>100 pcs</td>
            </tr>
            <tr>
                <td>Jan 1,1900</td>
                <td>School Supplies</td>
                <td>Monggol</td>
                <td>Pencil</td>
                <td>8.50</td>
                <td>100 pcs</td>
            </tr>
            <tr>
                <td>Jan 1,1900</td>
                <td>School Supplies</td>
                <td>Monggol</td>
                <td>Pencil</td>
                <td>8.50</td>
                <td>100 pcs</td>
            </tr>

        </tbody>
    </table>
</div>
    
    <script src="index.js"></script>
    
    <script
        type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/1.0.0/mdb.min.js"
    ></script>
</body>
</html>